/* app css stylesheet */

h1 {
	text-align: center;
  margin-top: 5%;

}

h3 {
  color: red;
}

body, html {
  height: 100%;
}

.background{
  background: url("fundo.jpg");
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.panel{
  margin-left: 10%;
  margin-right: 10%;
}

.panel-primary > .panel-heading {

  background-color: #222;
  border-color: #080808;
}

.list-group-item.active {

  background-color: #222;
  border-color: #080808;
}

.list-group-item.active:hover {
  background-color: #333;
  border-color: #080808;
}
/*.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
*/